html {
  margin-top: 0 !important;
}

html, body {
  font-family: @roboto;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
          "header header header header header"
          "top-block"
          "advantages"
          "content"
          "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}

.grid-container {
  max-width: 88vw;
  margin: 0 auto;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
