html {
  margin-top: 0 !important;
}

html, body {
  font-family: @roboto;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
}

body {
  background: #ededed;
  color: #707070;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  max-width: 90vw;
  margin: 0 auto;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
