//FRONT PAGE
//--------------------------------------------------

.top-block {
  margin-bottom: 60px;
  @media(max-width: 425px) {
    margin-bottom: 5px;
  }
  &__info {
    margin-top: 19px;
    margin-bottom: 19px;
    height: 120px;
    @media(max-width: 1025px) {
      height: 153px;
    }
  }
  &__wrap {
    @media(max-width: 425px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > a {
      display: flex;
      align-items: center;
      color: @c2;
      &:link {
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__logo {
    width: 150px;
    margin-right: 18px;
    @media(max-width: 425px) {
      width: 50%;
      margin-right: 0;
      display: flex;
      justify-content: center;
    }
    &-big {
      width: 150px;
      height: 103px;
    }
    &-title {
      @media(max-width: 425px) {
        width: 50%;
      }
      > p {
        font-family: @roboto;
        font-weight: 500;
        font-size: 21px;
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }
  }
  &__button {
    &_wrap {
      display: flex;
      justify-content: flex-end;
      height: 90px;
      align-items: center;
      @media(max-width: 1025px) {
      height: 130px;
      }
      @media(max-width: 425px) {
        justify-content: center;
        height: 100px;
      }
      > a {
        background: @c5;
        text-align: center;
        border-radius: 3px;
        padding: 5px;
        width: 50px;
        height: 45px;
        margin-right: 45px;
        text-transform: uppercase;
        font-family: @roboto;
        font-weight: 500;
        font-size: 14px;
        color: @c2;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          background: @c1;
          text-decoration: none;
        }
      }
    }
    &_block {
      width: 65px;
      height: 47px;
      > svg {
        color: #979797;
        margin-bottom: 20px;
      }
    }
  }
  &__slider {
    height: 240px;
    @media(max-width: 425px) {
      margin-top: 130px;
      height: auto;
    }
    .slick-dots {
      display: flex !important;
      justify-content: center;
      list-style-type: none;
      @media(max-width: 425px) {
        height: 36px;
        margin-bottom: 14px;
      }
      li button {
        position: relative;
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: 0;
        background: 0 0;
        &:before {
          position: absolute;
          top: 14px;
          left: 0;
          width: 11px;
          height: 11px;
          content: '';
          text-align: center;
          opacity: .25;
          color: #000;
          background: #979797;
          border-radius: 25px;
        }
      }
      li.slick-active button {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  &__news-slider {
    margin: 0 5px 5px 5px;
    box-shadow: 0 1px 5px 0 #b8b8b8;
    &_img-link {
      > img {
        height: 240px;
        width: 100%;
        object-fit: cover;
        object-position: 0 0;
      }
    }
    ul {
      margin-bottom: 0;
      list-style-type: none;
      h3 {
        background-color: @c5;
        margin: 0;
        padding: 5px;
        color: black;
        font-size: 14px;
        font-family: @roboto;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 1025px) {
          min-height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.in-the-process {
  display: flex;
  align-items: center;
  height: inherit;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__top-block_logo {
    margin-bottom: 60px;
  }
  p {
    font-family: @roboto;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
  }
}


//CONTENT BLOCK
//--------------------------------------------------
.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  > wrapper {
    flex: 1 0 auto;
  }
}
.home {
  .main {
    display: block;
    height: auto;
  }
}
.content-block {
  margin-top: 25px;
  margin-bottom: 25px;
  @media(max-width: 425px) {
    margin-top: 0;
  }
  .title-ribbon {
    text-transform: uppercase;
    font-family: @roboto;
    font-weight: 500;
    font-size: 14px;
    color: @c1;
    background: url(../img/anons.png) no-repeat -2px -2px;
    height: 29px;
    margin: 0;
    padding: 5px 0 0 9px;
    border: 0;
  }
  &__wrap {
    margin-bottom: 25px;
    @media(max-width: 768px) {
      margin-bottom: 0;
    }
    @media(max-width: 425px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__order-1 {
    @media(max-width: 425px) {
      order: 1;
    }
  }
  &__order-2 {
    @media(max-width: 425px) {
      order: 2;
    }
  }
  &__mobile-margin {
    @media(max-width: 425px) {
      margin-bottom: 20px;
    }
  }
  &__ad-wrap {
    padding: 0;

    > a {
      background: @c5;
      padding: 10px;
      text-align: justify;
      margin-bottom: 5px;
      display: block;
      &:hover {
        transition: 0.3s;
        box-shadow: 0 2px 4px #b8b8b8;
        text-decoration: none;
      }
      > span {
        color: @c2;
        font-size: 15px;
        font-family: @roboto;
        line-height: 22px;
        font-weight: 400;
        transition: 0.3s;
        background: url(../img/news-arrow.png) no-repeat 2px 8px;
        padding: 0 0 0 23px;
        margin: 0;
        display: inline-block;
        transition: 0.3s;
        &:hover {
          text-decoration: none;
          color: @c2;
        }
      }

    }
  }
  &__news-wrap {
    margin-top: 25px;
  }
  &__news-block {
    display: flex;
    align-items: center;
    background-color: @c5;
    padding: 9px;
    margin-bottom: 5px;
    @media(max-width: 425px) {
      flex-direction: column;
    }
  }
  &__news-info {
    font-family: @roboto;
    margin-left: 15px;
    > h3 {
      font-size: 14px;
      font-weight: 500;
      color: @c2;
      margin-top: 0;
      margin-bottom: 10px;
    }
    > p {
      font-size: 14px;
      font-weight: 400;
      color: @c6;
    }
  }
  &__news-thumbnail {
    > img {
      min-width: 165px;
    }
  }
  &__news-info-block {
    font-family: @roboto;
    display: flex;
    justify-content: space-between;
    > span {
      font-size: 13px;
      font-weight: 400;
      color: @c6;
    }
    > a {
      font-size: 14px;
      font-weight: 500;
      color: @c1;
      background-color: #abc9c6;
      padding: 1px 7px;
      width: 110px;
      text-decoration: none;
      border-radius: 3px;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        background-color: #7faaa5;
      }
    }
  }
  &__all-news-wrap {
    font-family: @roboto;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    background-color: @c5;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 2px 4px #b8b8b8;
    }
    > a {
      text-align: center;
      width: 100%;
      color: @c2;
      text-decoration: none;
      text-transform: uppercase;
      padding: 5px 5px;
    }
  }
  &__default-page {
    background: @c5;
    height: auto;
    padding: 30px 20px;
    @media(max-width: 425px) {
      margin-bottom: 12px;
    }
  }
}

// MENU SIDEBAR

.sidebar-menu__wrap {
  padding-right: 0;
  @media(max-width: 768px) {
    margin-top: 10px;
  }
}

.menu-block {
  height: 100%;
  transition: all .3s ease-in-out;
  > .title-ribbon {
    text-transform: uppercase;
    font-family: @roboto;
    font-weight: 500;
    font-size: 14px;
    color: @c1;
    background: url(../img/anons.png) no-repeat -2px -2px;
    height: 29px;
    margin: 0;
    padding: 5px 0 0 9px;
    border: 0;
  }
  #sidebar-nav {
    background-color: @c5;
    ul, ul ul {
      margin: -2px 0 0;
      padding: 0;
    }
    ul.menu {
      li {
        list-style-type: none;
        cursor: pointer;
        a {
          color: @c2;
          font-family: @roboto;
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          padding: 12px 18px 11px 18px;
          font-size: 12px;
          font-weight: 400;
          outline: 0;
          transition: all 200ms ease-in;
          box-shadow: 0 1px 0 #f1f1f1 inset, 0 -1px 0 #d5d5d5 inset;
          &:hover {
            text-decoration: underline;
          }
          span {
            display: inline-block;
          }
          i {
            width: 20px;
            .fa-angle-left, .fa-angle-right {
              padding-top: 3px;
            }
          }
        }
        &:last-child {
          a {
            box-shadow: none;
          }
        }
      }
      .menu-item-has-children {
        position: relative;
        &:after {
          content: "›";
          position: absolute;
          color: @c2;
          font-size: 18px;
          font-family: @roboto;
          font-weight: 700;
          transform: rotate(0deg);
          top: 5px;
          right: 21px;
          transition: 0.1s;
        }
        &.open {
          &:after {
            content: "›";
            position: absolute;
            color: @c2;
            font-size: 18px;
            font-family: @roboto;
            font-weight: 700;
            transform: rotate(90deg);
            top: 7px;
            right: 21px;
            transition: 0.1s;
          }
          .sub-menu {
            transition: 0.1s;
            display: block;
          }
        }
      }
    }
    .sub-menu {
      display: none;
      box-shadow: rgba(124, 124, 124, 0.42) 0 4px 28px -4px inset;
      background-color: #ebebeb;
      li {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;
        a {
          font-size: 12px;
          padding-top: 13px;
          padding-bottom: 13px;
          color: @c2;
          box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
        }
      }
    }
  }
}

.sidebar {
  &__map {
    margin-top: 20px;
    h3 {
      text-transform: uppercase;
      font-family: @roboto;
      font-weight: 500;
      font-size: 14px;
      color: @c1;
      background: url(../img/anons.png) no-repeat -2px -2px;
      height: 29px;
      margin: 0;
      padding: 5px 0 0 9px;
      border: 0;
    }
  }
  &__poll {
    margin-top: 20px;
    h3 {
      text-transform: uppercase;
      font-family: @roboto;
      font-weight: 500;
      font-size: 14px;
      color: @c1;
      background: url(../img/anons.png) no-repeat -2px -2px;
      height: 29px;
      margin: 0;
      padding: 5px 0 0 9px;
      border: 0;
    }
  }
}

//

.ajax-search:focus {
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.65);
  position: relative;
  z-index: 1051;
}

.ajax-search li {
  overflow: hidden;
  line-height: 17px;
  width: 100%;
  min-height: auto;
  max-height: 100px;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 10px;
  list-style: none;
}

.ajax-search {
  position: absolute;
  top: 56px;
  box-sizing: border-box;
  background: #fff;
  z-index: 1111;
  border-radius: 3px;
  border: 1px solid #eee;
  border-top: none;
  padding: 5px;
  display: none;
  max-height: 500px;
  overflow-y: auto;
}

.ajax-search li:first-child {
  padding: 5px;
}

.ajax-search li:last-child {
  padding: 5px;
  border-bottom: none;
}

.ajax-search li a {
  color: @c2;
}

.ajax-search span {
  height: 100%;
  float: left;
  min-height: 100px;
}

.ajax-search li p {
  line-height: 14px;
  font-size: 13px;
  color: #7c83a0;
  font-style: italic;
  background-color: white;
}

.ajax-search li img {
  width: 60px;
  float: left;
  border: 2px solid #eeeeee;
  background-color: #eeeeee;
  border-radius: 50%;
  margin-right: 10px;
}

//PAGES
//PAGE DEFAULT
.page-template-default {
 .top-block {
   margin-bottom: 0;
   @media(max-width: 425px) {
     margin-bottom: 25px;
   }
 }
  .content-block {
    margin: 0;
    height: 100%;
  }
  .main {
    display: block;
    height: auto;
  }
  .sidebar {
    margin-bottom: 50px;
    @media(max-width: 425px) {
      margin-bottom: 0;
    }
  }
}