//TOP BLOCK
//--------------------------------------------------

.top-block {
  position: relative;
  grid-area: top-block;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 480px;
    background: rgba(0, 0, 0, 0.03);
    z-index: 2;
  }
  &__bg {
    width: 100%;
    height: 478px;
    object-fit: cover;
  }
  &__text {
    z-index: 3;
    position: absolute;
    top: 31%;
    display: grid;
    grid-template-columns: 1fr;
    color: @c2;
    .top-block__desc-h1 {
      font-family: @comfortaa;
      font-size: 36px;
      font-weight: 700;
      //text-transform: uppercase;
      margin-bottom: 0;
      color: @c1;
      //text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
      b {
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
      }
      b span {
        animation: blink linear infinite 2s;
      }
      @keyframes blink {
        78% {
          color: inherit;
          text-shadow: inherit;
        }
        79%{
          color: #333;
        }
        80% {

          text-shadow: none;
        }
        81% {
          color: inherit;
          text-shadow: inherit;
        }
        82% {
          color: #333;
          text-shadow: none;
        }
        83% {
          color: inherit;
          text-shadow: inherit;
        }
        92% {
          color: #333;
          text-shadow: none;
        }
        92.5% {
          color: inherit;
          text-shadow: inherit;
        }
      }
    }
    .top-block__desc-p {
      font-family: @roboto;
      font-weight: 400;
      font-size: 21px;
      text-transform: uppercase;
      color: @c1;
      clear:both;
      border:2px solid;
      border-radius:3px;
      text-decoration:none;
      display:block;
      width:13em;
      padding:5px 10px;
      background:rgba(0,0,0,0.2);
      text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
      box-shadow:0 0 0 3px rgba(0,0,0,0.2);
      text-align:center;
    }
  }
  &__rating-wrap {
    //background: #1b2840;
    background: @c2;
    z-index: 3;
    height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #112 url(../img/brick-bg.jpg)  center no-repeat;
    background-size:cover;
  }
  &__down-bg {
    background: @c2;
    z-index: 1;
    height: 251px;
    position: absolute;
    bottom: -238px;
    width: 100%;
    margin: 0;
    padding: 0;
    left: -60px;
    background: url(../img/brick-down-bg.png)  center no-repeat;
    background-size:cover;
  }
  &__rating {
    max-width: 88vw;
    margin: 0 auto;
    height: 70px;
    display: grid;
    grid-template-columns: 45px 320px 270px;
    grid-column-gap: 15px;
    span {
      align-self: center;
      display: grid;
      color: @c1;
      font-family: @roboto;
      font-weight: 400;
      letter-spacing: 2px;
    }
    .icon-trust {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-right: 15px;
      width: 45px;
      height: 45px;
      background: url(../img/icon-trust.svg) no-repeat center center;
      align-self: center;
    }
    iframe {
      z-index: 1;
      align-self: center;
    }
  }
}

#myCanvas {
  height:250px;
  width:100%;
  max-width:99%;
  min-width:800px;
  position:absolute;
  bottom:0;

}

//GUARANTEES BLOCK
//--------------------------------------------------
.guarantees__wrap {
  margin: 30px 0;
  z-index: 3;
  position: relative;
}
.guarantees {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  padding: 30px 0;
  &__item {
    display: grid;
    grid-template-columns: 76px 1fr;
    box-shadow: 0 0 2rem #000;
    background: #201c29;
    padding: 1.5rem;
  }
  &__desc {
    align-self: center;
    justify-self: center;
  }
  &__item-title {
    font-family: @roboto;
    font-weight: 500;
    color: @c1;
    margin-bottom: 10px;
  }
  &__item-subtitle {
    color: #a1a1af;
  }
}

//WHAT-ARE-WE-DOING-BLOCK
//--------------------------------------------------
.we-do__wrap {
  background-color: #dbdbdb;
  margin: 130px 0 30px 0;
  z-index: 2;
  position: relative;
}
.we-do {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 50px 0;
  &__item-desc {
    color: @c2;
  }
  &__item {
    &:nth-child(1) {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-column-end: 5;
    }
    &:nth-child(2) {
      grid-row-start: 1;
      grid-column-start: 5;
      grid-row-end: 2;
      grid-column-end: 7;
    }
    h2 {
      color: @c2;
    }
    a {
      text-decoration: none;
    }
    ul {
      list-style-type:none;
      padding:0;
      margin:0;
    }
    &_li {
      color: #fff;
      transition-duration: .5s;
      cursor: pointer;
      text-align: center;
      box-shadow: inset 0 -50px 50px 0 rgba(0,0,0,.8);

      &:hover {
        padding-top:27px;
        box-shadow:inset 0 -250px 50px 0 rgba(0,0,0,.6);

        span {
          color:white;
        }
      }
      &-desc {
        font-size:0.8rem;
        text-align:justify;
        display:block;
        color:rgba(255,255,255,.0);
        transition-duration:0.5s;
      }
      img {
        text-transform: uppercase;
        color: #fff;
        font-size: 1rem;
        transition-duration: .5s;
        cursor: pointer;
        width: 100%;
        text-align: center;
        box-shadow: inset 0 -50px 50px 0 rgba(0,0,0,.8);
        background-size: cover;
      }
    }

    &-title {
      color: @c2;
      font-family: @roboto;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      text-decoration: none;
      padding: 0;
      width: 100%;
    }
    &-title_a {
      text-decoration: none;
      color: #fff;
    }
  }
}
