/*HEADER: LAYOUT*/

.header {
  background: @c2;
  height: 70px;
  color: @c1;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  nav#nav {
    display: none;
  }
  &__grid-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px;
    > div {
      align-self: center;
      justify-self: center;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
      &:hover {
        transition: 0.3s ease-out;
        text-decoration: underline;
      }
    }
  }
  .header__logo {
    img {
      height: 35px;
    }
  }
  .slicknav_nav {
    position: absolute;
  }
  &__social-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    a {
      svg {
        path {
          fill: #8b86ff;
        }
      }
      &:hover {
        svg {
          path {
            fill: #acadff;
            transition: 0.3s ease-out;
          }
        }
      }
    }
  }
}


